#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* 
.btn {
  height: 70px;
  width: 70px;
  border-radius: 50px;
}

.hidden-btn {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-btn {
  z-index: 10;
  position: relative;
}

.gen-btn {
  transition: 250ms;
  position: absolute;
}

.upl-btn {
  position: absolute;
  transition: 250ms;
}

.inp-btn {
  position: absolute;
  transition: 250ms;
}

.cam-btn {
  position: absolute;
  transition: 250ms;
  transition-timing-function: 15s;
}


.btn-container:hover>.gen-btn {
  transform: translate(-200%, -50%) !important;
  transition: 30ms;
}

.btn-container:hover>.upl-btn {
  transform: translate(-50%, -200%) !important;
  transition: 600ms;
}

.btn-container:hover>.inp-btn {
  transform: translate(100%, -50%) !important;
  transition: 900ms;
}

.btn-container:hover>.cam-btn {
  transform: translate(-50%, 100%) !important;
  transition: 1.1s;
} */

.btn-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn{
  display: flex;
  justify-content: space-between;
}